{% extends "index.html" %}

{% block content %}
    <section class="event-container mt-14">     
        <div class="event-list">
            <div class=" w-full ms-20 px-3 border-s-4 font-semibold border-yellow-400 text-yellow-400 text-lg sm:text-3xl">Events List:</div> 
            <div class="grid sm:grid-cols-3 grid-cols-1">
                {% for event in event_list %}    
                    <div class=" m-4 p-3 mx-24 shadow-slate-600 shadow-md border-slate-500">
                        <p class="text-center text-lg font-serif font-bold">Event name : {{ event.name }} </p> 
                        <p class="text-center text-sm font-thin">Deadline : {{ event.deadline }} </p> 
                        <div class="button-container flex justify-center items-center">
                            <a href="{% url 'event_details' event.id %}" class="text-black text-opacity-60 text-sm sm:text-md px-2 m-2  border-2 border-red-600 rounded-lg"> Details</a>
                            <form action="{% url 'add_to_rsvp' event.id %}" method='POST'>
                                {% csrf_token %}
                                <button type="submit" class="text-black text-opacity-60 text-sm sm:text-md px-2 m-2 rounded-lg border-2 border-teal-600">RSVP</button>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock content %}