{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}"> 
</head>
<body>
    
    <section class='navbar bg-black'>
        <div class="navbar-container py-8 grid grid-cols-1 sm:grid-cols-2">
            <div class='nav-links flex justify-evenly justify-items-center'>
                <a href="{% url "home" %}">
                <div class="home text-white text-sm sm:text-2xl">HOME</div>
                </a>
                <a href="{% url "event_list" %}">
                <div class="event text-white text-sm sm:text-2xl">EVENT</div>
                </a>
                <a href="{% url "category_list" %}">
                <div class="category text-white text-sm sm:text-2xl">CATEGORY</div>
                </a>
                <a href="{% url "participant_list" %}">
                <div class="participant text-white text-sm sm:text-2xl">PARTICIPANT</div>
                </a>
            </div>
            <form class='search_bar flex justify-center gap-2 m-5 sm:m-0' method='get' action="{% url "search" %}">
                <input type="search" placeholder="Enter name or location" name='text' class="w-3/4 px-2 border-2 rounded-lg focus:border-red-500 focus:outline-none">
                <button type="submit" class="text-white text-sm p-1 rounded-lg sm:text-xl bg-red-600">Search</button>  
            </form>
        </div>
    </section>

    <section class="content-container mt-10">
        {% block content %}
    
        {% endblock content %}
    </section>
    
</body>
</html>