{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}"> 
</head>
<body>
    
    <section class='navbar'>
        <div class="navbar-container mx-5 px-5 bg-white shadow-xl p-5 sm:flex justify-between items-center ">
            <div>
                <p class="text-teal-600 text-3xl text-center font-serif font-bold">PARTH'S EVENT</p>
            </div>
            <div class='nav-links sm:text-center flex justify-center gap-5 justify-items-center'>
                <a href="{% url "home" %}">
                <div class="home text-black text-opacity-60 text-md">HOME</div>
                </a>
                <a href="{% url "event_list" %}">
                <div class="event text-black text-opacity-60 text-md ">EVENT</div>
                </a>
                <a href="{% url "category_list" %}">
                <div class="category text-black text-opacity-60 text-md ">CATEGORY</div>
                </a>   
            </div>
            <div class="flex justify-end items-center gap-5 mx-10">
                <form class='search_bar flex justify-center gap-2 m-5 sm:mx-0' method='get' action="{% url "search" %}">
                    <input type="search" placeholder="Enter name or location" name='text' class="w-1/2 sm:w-full px-2 border-2 border-teal-600 rounded-lg focus:border-teal-400 focus:outline-none">
                    <button type="submit" class="text-black text-opacity-50 text-sm sm:text-lg px-2 font-serif rounded-md border-2 border-teal-600 focus:border-teal-400">Search</button>  
                </form>
                <form action="{% url "sign_out" %}" method="post">
                    {% csrf_token %}
                    <button type='submit' class="text-red-600 text-sm sm:text-lg px-2 border-s-2 border-red-600 font-serif  ">Log out</button>  
                </form>
            </div>
        </div>
    </section>

    <section class="content-container mt-10">
        {% block content %}
    
        {% endblock content %}
    </section>
    
</body>
</html>