{% extends "index.html" %}

{% block content %}
    <section class="participant-container m-5 grid grid-cols-1 sm:grid-cols-2 justify-items-center items-center">
        <div class="participant-list mx-2 border-2 border-red-400">
            <p class="bg-black px-40 text-center py-2 w-full text-white text-lg sm:text-3xl">Participant List :</p>
            {% for participant in participants %}
                <div class="ps-5 text-xl mb-2">
                    <div class="m-2 flex justify-between">
                        <div>{{ participant }} </div>
                        <div class="button-container flex justify-center gap-2 items-center">
                            <a href="{% url 'update_participant' participant.id %}" class="bg-green-600 px-2 text-white">Edit</a>
                            <form action="{% url 'delete_participant' participant.id %}" method='POST'>
                                {% csrf_token %}
                                <button type="submit" class="bg-red-600 px-2 text-white">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="btn_container">
            <a href="{% url "add_participant" %}">
                <button type="submit" class="bg-green-800 p-2 m-4 rounded-xl hover:bg-red-600 text-white">add participant</button>
            </a>
        </div>
    </section>

{% endblock content %}